body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 1.6;
    color: #1D2530;
    background: rgba(242, 247, 255, 0.5);
    cursor: default;
}

.body-hidden {
    overflow: hidden;
}

*, 
*:before,
*:after {
    box-sizing: border-box
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

main {
    overflow: hidden;
}

button {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    background-color: #685ED6;
    border: 0;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    outline: 0;
    transition: background-color 300ms;
}

button:hover {
    color: #685ED6;
    background-color: #F1E4FF;
  }

h1 {
    font-size: 46px;
    line-height: 64px;
    color: #1D2530;
    font-weight: 700;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}


/*Header*/

.header {
    width: 100%;
    padding-top: 32px;
   
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo__text {
    margin-left: 2px;
    font-size: 28px;
    font-weight: 700;
}

.header__reg button {
    padding: 10px 20px;
    transition: .2s linear;
}

.header__reg button:hover {
    color: #685ED6;
    background-color: #F1E4FF;
}


.header__reg .open {
    color: #FFFFFF;
    background-color: #685ED6;
}

.header__reg .reg {
    padding: 10px 40px;
    margin-left: 12px;
    color: #FFFFFF;
    background-color: #685ED6;
}


.menu {
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(223, 223, 223, 0.562);
    transition: all 0.35s ease-in;
    
}


.animate__fadeInDown {
    animation: 1.5s;
}
.menu-visible {
    opacity: 1;
    visibility: visible;
}

.menu__window {
    position: fixed;
    position: absolute;
    z-index: 6;
    top: 0;

    width: 100%;
    background: #FFFFFF;
    min-height: 60%;
    text-align: center;
    display: flex;
    align-items: center;
}

.menu__inner {
    width: 100%;
}

.menu__content {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}

.menu__content button {
    width: 80%;
    outline: 0;
    padding: 12px 20px;
}


.menu__content button:last-child {
    width: 80%;
    margin-top: 20px 
}


.menu__close {
    position: relative;
    top: 20px;
    left: 84%;
    z-index: 8;
    background: none;
}

.menu__close:hover {
    background-color: #FFFFFF;
}

.menu-fixed {
    background-color: rgba(242, 247, 255, 0.8); 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    position: fixed;
    height: 80px;
    transition: .2s linear;
    display: none;
}


.menu-fixed-hidden {
    background-color: rgba(242, 247, 255, 0); 
}


.menu-open {
    display: none;
    position: relative;
    top: -56px;
    left: 88%;
    z-index: 7;
    background-color: rgba(242, 247, 255, 0.001); 
}

.menu-open:hover {
    background-color: rgba(242, 247, 255, 0.001); 
}

.menu-open span {
    border-radius: 2px;
	width: 40px;
	height: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #685ED6;
	transition: all 0.5s;
    opacity: 1;
}
.menu-open span:nth-of-type(2) {
	top: calc(50% - 10px);
}
.menu-open span:nth-of-type(3) {
	top: calc(50% + 10px);
}



.menu-open.active span:nth-of-type(1) {
    transition: opacity .2s linear;
    opacity: 0;
  }
  .menu-open.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
  }
  .menu-open.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
  }

.open {
    width: 177px;
}



/*Intro*/

.intro {
    padding-top: 150px;
    min-height: 809px;
    height: auto;
    width: 100%;
}

.intro__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.intro__img__1 {
    z-index: 1;
    position: relative;
    object-fit: cover;
    width: 60%;
    height: auto;
}

.intro__img__2 {
    width: 87px;
    height: 38px;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.move1 {
    opacity: 1;
    animation: move1 4s ease ;
    animation-fill-mode:forwards;
}

@keyframes move1 {
    0% {position: absolute; left: -100px; top: -100px; }
    100% {position: absolute; left: 45%; top: 250px; }
}


.intro__img__3 {
    width: 61px;
    height: 32px;
    position: absolute;
    z-index: 2;
    opacity: 0;
}


.move2 {
    opacity: 1;
    animation: move2 4s ease ;
    animation-fill-mode:forwards;
}

@keyframes move2 {
    0% {position: absolute; left: 2000px; top: -100px; }
    100% {position: absolute; left: 75%; top: 220px; }
}

.intro__img__4 {
    width: 100px;
    height: 62px;
    position: absolute;
    z-index: 2;
    opacity: 0;
}


.move3 {
    opacity: 1;
    animation: move3 4s ease ;
    animation-fill-mode:forwards;
}

@keyframes move3 {
    0% {position: absolute; left: -200px; top: 1000px; }
    100% {position: absolute; left: 65%; top: 760px; }
}



.intro__content {
    width: 40%;
}



.intro__content .title {
    font-size: 50px;
    line-height: 60px;
}

.intro__content span {
    font-weight: 700;
    color: #685ED6;
}

.intro__content .text {
    padding-bottom: 32px;
    padding-top: 24px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    z-index: 2;
    
}

.intro__content button {
    padding: 12px 32px;
}

/*Info*/

.info {
    width: 100%;
    padding-top: 150px;
    margin-bottom: 80px;
    min-height: 809px;
}

.info__content {
    width: 50%;
}
.info__inner img {
    
    min-width: 30%;
    height: auto;
}

.info__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info__title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 68px;
}

.info__list__item {
    opacity: 0;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
}

.animate__backInLeft {
    animation: animate__backInLeft 2s ease forwards;
}


.info__list__item img {
    height: 62px;
    width: 62px;
}

.list__info {
    margin-left: 28px;
    max-width: 428px;

}

.list__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
    font-weight: 700;
}

.list__text {
    font-size: 16px;
    line-height: 26px;
}


/*Section*/

.section {
    width: 100%;
    padding-top: 100px;
    margin-bottom: 80px;
    min-height: 1250px;
    background: #FCFEFF;
}

/*Rates*/

.rates {
    text-align: center;
}

.rates__title {
    line-height: 64px;
    margin-bottom: 16px;
}

.rates__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 50px;
}

.rates__items {
    display: flex;
    justify-content: space-between;
}

.rates__card {
    margin-right: 30px;
    max-width: 33%;
    min-height: 387px;
    background: #FCFEFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    transition: transform .2s linear; 
}

.rates__card:last-child {
    margin-right: 0;
}

.rates__card:hover {
    transform: scale(1.05); 
}



.card__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    color: #685ED6;
    background: rgba(104, 94, 214, 0.05);
    border-radius: 6px 6px 0 0;
}

.rates__card h3 {
    padding: 40px 40px;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
}

.rates__card h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.rates__card button {
    margin: 58px 30px 50px 30px;
    padding: 12px 66px;
}

/*Steps*/
    
.steps {
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.img__line {
    position: absolute;
    top: 120px;
    left: 0;
    margin: 0 50px;
    text-align: center;
    z-index: 1;
}

.steps h1 {
    font-weight: 700;
    font-size: 46px;
    line-height: 64px;
    margin: 0 50px 40px;
}


.step__items {
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: 2;
    top: 0;
    left: 0;
}

.step .circle {
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 70px;
    color: #685ED6;
    background: #F1E4FF;
    border-radius: 100px;
    width: 72px;
    height: 72px;
}

.step {
    position: absolute;
    z-index: 2;
}

.step__1 {
    top: 175px;
    left: 0%;
}


.step__2 {
    top: 205px;
    left: 32%;
}

.step__3 {
    top: 135px;
    left: 68%;
}

.step img {
    display: block;
    height: auto;
    margin: 0 auto;
}

.step__title {
    margin-top: 16px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.step__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 56px;
}


/*Reviews*/

.reviews {
    margin: 600px 0 100px 0;
}

.reviews__header {
    text-align: center;
}

.reviews .img {
    position: absolute;
}

.reviews__items {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.reviews__card {
    max-width: 575px;
    max-width: auto;
    min-height: 220px;
    max-height: auto;
    margin: 50px auto 28px;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
}
.reviews__card:last-child {
    margin-right: 0;
}
.reviews__content {
    color: #18191F;
    padding: 32px 32px 68px;
}
.reviews__content .title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
}
.reviews__content .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.reviews__info {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.reviews__info img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.reviews__info  .img__info {
   margin: auto 15px;
}

.reviews__info  .img__info .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
 }

 .reviews__info  .img__info .text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
 }

 .slick-dots li button:hover  {
    transform: none;
    box-shadow: none;
 }




/*Form*/

.form {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    min-height: 468px;
    background: #FCFEFF;
}

.form__inner {
    position: relative;
    margin: 0 auto;
    background: url('../img/Form_bg.png') center no-repeat;
    border: 0;
    border-radius: 6px;
    max-width: 1110px;
    min-height: 288px;
    height: auto;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form__content {
    margin: 75px 150px 75px 100px;
    max-width: 445px;
    transition: transform .2s linear; 
}

.form__content:hover {
    transform: scale(1.05);
}

.form__title {
    font-weight: 700;
    font-size: 33px;
    line-height: 41px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.form__img {
    width: 314px;
    height: 271px;
    margin: 46px 0 0 50px;
}
.form__img img {
    object-fit: cover;
}



.email {
    width: 100%;
    max-width: 368px;
    display: flex;
}

.email__input::placeholder {
    color: rgba(153, 153, 153, 0.8);
}

.email__input {
    outline: 0;
    min-width: 248px;
    height: 52px;
    border-radius: 5px 0 0 5px;
    padding: 14px 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    background: #fff;
    color: #1D2530;
    border: 0;
    transition: 0.2s linear;
}

.email__input:focus {
    box-shadow: -5px 0px 30px 2px rgba(188, 185, 216, 0.48);
}

.email__btn:hover {
    transition: 0.2s linear;
    box-shadow: 5px 0px 30px 2px rgba(188, 185, 216, 0.48);
}

.email__btn {
    outline: 0;
    height: 54px;
    background: #18191F;
    border-radius: 0px 5px 5px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 24px;
}

.email__btn:hover {
    transform: none;
}

/*Footer*/

.footer {
    position: relative;
    width: 100%;
    min-height: 520px;
    height: auto;
    background: #1D2530;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.footer__logo .text{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    margin-top: 10px;
}

.footer__content {
    display: flex;
}

.footer__col {
    width: 160px;
    margin-right: 150px;
}

.footer__col .title {
    color: #F4F5F7;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.footer__col a {
    cursor: pointer;
    color: #EEEFF4;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.footer__col a:hover {
    text-decoration: underline;
}

.footer__col h3 {
    margin-bottom: 32px;
}

.footer__col h4 {
    margin-bottom: 12px;
}

.footer__bottom { 
    width: 100%;
    position: absolute;
    bottom: 0;
    min-height: 72px;
    background: #141B23;
}

.footer__bottom .content {
    margin: 25px 40px;
    color: #D9DBE1;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}


/*Modal*/

.modal {
    opacity: 1;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(223, 223, 223, 0.562);
    transition: all 0.35s ease-in;
}



.hidden {
    opacity: 0;
    visibility: hidden;
}

.modal__window {
    border-radius: 6px;
    background: #FFFFFF;
    max-width: 500px;
    max-height: 100%;
    padding: 100px 70px 140px;
    position: absolute;
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.modal__close {
    position: relative;
    top: -70px;
    left: 100%;
    z-index: 7;
    background: none;
}

.modal__close:hover {
    transform: none;
    box-shadow: none;
}

.modal__content {
   text-align: center;
}
.modal__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #685ED6;
    margin-bottom: 32px;
}

.modal__content input {
    font-family: 'Montserrat', sans-serif;
    background: #F7F7FD;
    border-radius: 4px;
    outline: 0;
    border: 0;
    padding: 8px 50px 8px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin-bottom: 10px;
}

.modal__content input:focus {
    border: 1px solid #605DEC;
}

.modal__content a {
    color: #605DEC;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    top: 56%;
    left: 60%;
    text-align: right;
}

.modal__content button {
    outline: 0;
    margin-top: 56px;
    padding: 12px 144px;
    width: 340px;
}



.password__input {
    position: relative;

}
.password__btn {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: -10px;
    font-size: 20px;
    color: #685ED6;
}
 

.password__btn.no-after::after {
    transition: opacity 0.2s linear;
    opacity: 0;
} 

.password__btn::after {
    position: absolute;
    border-top: 2px solid #605DEC;
    content: '';
    right: -3px;
    top: 15px;
    width: 30px;
    height: 2px;
    transform: rotate(45deg);
    transition: opacity 0.2s linear;
    opacity: 1;
}



.password__btn-2 {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: -10px;
    font-size: 20px;
    color: #685ED6;
}

.password__btn-2.no-after-2::after {
    transition: opacity 0.2s linear;
    opacity: 0;
} 

.password__btn-2::after {
    position: absolute;
    border-top: 2px solid #605DEC;
    content: '';
    right: -3px;
    top: 15px;
    width: 30px;
    height: 2px;
    transform: rotate(45deg);
    transition: opacity 0.2s linear;
    opacity: 1;
}

.slick-slide { 
    margin: 20px 20px;
    width: 100%;

}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #605DEC;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}